<p-toast></p-toast>
<div class="card m-2" #displayTable>
  <p-table
    *ngIf="products.length"
    class="m-2"
    responsiveLayout="stack"
    #dt
    [value]="products"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['title', 'price', 'category', 'rating.rate']"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [loading]="loading"
    [totalRecords]="totalRecords"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <p-toolbar>
        <div class="form-group col-12 d-flex justify-content-end flex-column flex-sm-row mt-2">
          <button
            pButton
            pRipple
            label="{{ 'ADD' | translate }}"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="addProduct()"
          ></button>
          <button
            pButton
            pRipple
            label="{{ 'DELETE' | translate }}"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSelectedProducts()"
            [disabled]="!selectedProducts || !selectedProducts.length"
          ></button>
        </div>
      </p-toolbar>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center">
            {{ 'NAME' | translate }}

            <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>{{ 'IMAGE' | translate }}</th>
        <th>
          <div class="flex justify-content-center align-items-center">
            {{ 'PRICE' | translate
            }}<p-columnFilter type="numeric" field="price" display="menu" currency="USD"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center">
            {{ 'CATEGORY' | translate }}

            <p-columnFilter type="text" field="category" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center">
            {{ 'RATING' | translate
            }}<p-columnFilter type="numeric" field="rating.rate" display="menu"></p-columnFilter>
          </div>
        </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.title }}</td>
        <td><img [src]="product.image" [alt]="product.name" width="50" class="shadow-4" /></td>
        <td>{{ product.price | currency : 'USD' }}</td>
        <td>{{ product.category }}</td>
        <td><p-rating [ngModel]="product.rating.rate" [readonly]="true" [cancel]="false"></p-rating></td>

        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editProduct(product)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteProduct(product)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '450px' }"
  header="{{ 'PRODUCT_DETAILS' | translate }}"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <img [src]="product.image" [alt]="product.image" class="product-image" *ngIf="product.image" />
    <div class="field">
      <label for="title">{{ 'NAME' | translate }}</label>
      <input type="text" pInputText id="title" [(ngModel)]="product.title" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.title">{{ 'NAME_IS_REQUIRED' | translate }}</small>
    </div>
    <div class="field">
      <label for="category">{{ 'CATEGORY' | translate }}</label>
      <p-dropdown
        [(ngModel)]="product.category"
        inputId="category"
        [options]="categories"
        placeholder="Select"
        appendTo="body"
        [required]="true"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option }}</span>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="field">
      <label for="price">{{ 'PRICE' | translate }}</label>
      <p-inputNumber
        id="price"
        [(ngModel)]="product.price"
        mode="currency"
        currency="USD"
        locale="en-US"
      ></p-inputNumber>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="{{ 'CANCEL' | translate }}"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="{{ 'SAVE' | translate }}"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [style]="{ width: '50vw' }"></p-confirmDialog>

<!-- no items template starts -->
<div class="m-5" style="text-align: center" *ngIf="!products.length">
  <p-card [style]="{ background: 'lightblue' }">
    <h3>{{ 'NO_PRODUCTS' | translate }}</h3>
  </p-card>
</div>
<!-- no items template ends -->
